.contenedor {
  width: 980px;
  height: 800px;
  background-color: darkslategray;
  margin: auto;
}

.cabecera {
  width: 980px;
  height: 250px;
  background-color: #f21212;
}

.menu {
  width: 310px;
  height: 490px;
  background-color: rgb(102, 10, 102);
}

.contenido {
  width: 670px;
  height: 490px;
  background-color: yellow;
  margin-left: 310px;
  margin-top: -490px;
}

.pie {
  width: 980px;
  height: 60px;
  background-color: green;
}
